## 04. scikit-learn으로 Normalization 해보기

In [1]:
import pandas as pd
import numpy as np

from sklearn import preprocessing

In [3]:
NBA_FILE_PATH = 'datasets/NBA_player_of_the_week.csv'
nba_palyer_of_the_week_df = pd.read_csv(NBA_FILE_PATH)

In [4]:
nba_palyer_of_the_week_df.head()

,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Pre-draft Team,Real_value,Height CM,Weight KG,Last Season
0,Jayson Tatum,Boston Celtics,East,"Feb 10, 2020",SF,6'8,208,21,2017,2,2019-2020,2020,Duke,0.5,203,94,1
1,Nikola Jokic,Denver Nuggets,West,"Feb 10, 2020",C,7'0,250,25,2014,4,2019-2020,2020,KK Mega Bemax (Serbia),0.5,213,113,1
2,Jaylen Brown,Boston Celtics,East,"Feb 3, 2020",SF,6'7,220,23,2016,3,2019-2020,2020,California,0.5,201,99,1
3,Damian Lillard,Portland Trail Blazers,West,"Feb 3, 2020",G,6'3,195,29,2012,7,2019-2020,2020,Weber State,0.5,190,88,1
4,Pascal Siakam,Toronto Raptors,East,"Jan 27, 2020",F,6'9,230,25,2016,3,2019-2020,2020,New Mexico State,0.5,206,104,1

In [5]:
nba_palyer_of_the_week_df.describe() # 열 통계정보

,Weight,Age,Draft Year,Seasons in league,Season short,Real_value,Height CM,Weight KG,Last Season
count,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000
mean,224.567164,26.738060,1996.287313,5.740299,2003.156716,0.686940,201.071642,101.384328,0.023881
std,30.798885,3.400683,11.253558,3.293421,11.470164,0.242007,9.367970,14.011226,0.152734
min,150.000000,19.000000,1965.000000,0.000000,1980.000000,0.500000,175.000000,68.000000,0.000000
25%,205.000000,24.000000,1987.000000,3.000000,1994.000000,0.500000,193.000000,93.000000,0.000000
50%,220.000000,26.000000,1998.000000,5.000000,2005.000000,0.500000,201.000000,99.000000,0.000000
75%,250.000000,29.000000,2005.000000,8.000000,2013.000000,1.000000,208.000000,113.000000,0.000000
max,325.000000,40.000000,2018.000000,17.000000,2020.000000,1.000000,229.000000,147.000000,1.000000

In [7]:
height_weight_age_df = nba_palyer_of_the_week_df[['Height CM', 'Weight KG', 'Age']]
height_weight_age_df.head()

   Height CM  Weight KG  Age
0        203         94   21
1        213        113   25
2        201         99   23
3        190         88   29
4        206        104   25

In [8]:
scaler = preprocessing.MinMaxScaler() # MinMaxScaler() : 데이터를 0~1 사이로 변환하는 도구

In [9]:
normalized_data = scaler.fit_transform(height_weight_age_df) # feature scaling 하고자 하는 변수를 넘겨줌.

In [10]:
normalized_data

array([[0.51851852, 0.32911392, 0.0952381 ],
       [0.7037037 , 0.56962025, 0.28571429],
       [0.48148148, 0.39240506, 0.19047619],
       ...,
       [0.48148148, 0.37974684, 0.23809524],
       [0.38888889, 0.21518987, 0.23809524],
       [0.42592593, 0.27848101, 0.52380952]])

In [13]:
normalized_df = pd.DataFrame(normalized_data, columns = ['Height', 'Weight', 'Age'])

In [14]:
normalized_df.describe()

            Height       Weight          Age
count  1340.000000  1340.000000  1340.000000
mean      0.482808     0.422586     0.368479
std       0.173481     0.177357     0.161937
min       0.000000     0.000000     0.000000
25%       0.333333     0.316456     0.238095
50%       0.481481     0.392405     0.333333
75%       0.611111     0.569620     0.476190
max       1.000000     1.000000     1.000000

## 07. 표준화(standarization)

In [15]:
# 소수점 5번째 자리까지만 출력되도록 저장
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [16]:
nba_palyer_of_the_week_df = pd.read_csv(NBA_FILE_PATH)

In [17]:
# standardize(표준화)
scaler = preprocessing.StandardScaler()
standardized_data = scaler.fit_transform(height_weight_age_df)

In [18]:
standardized_df = pd.DataFrame(standardized_data, columns = ['Height', 'Weight', 'Age'])

In [19]:
standardized_df.describe()

          Height     Weight        Age
count 1340.00000 1340.00000 1340.00000
mean    -0.00000   -0.00000   -0.00000
std      1.00037    1.00037    1.00037
min     -2.78410   -2.38357   -2.27629
25%     -0.86194   -0.59862   -0.80545
50%     -0.00765   -0.17024   -0.21711
75%      0.73986    0.82934    0.66539
max      2.98237    3.25687    3.90124

In [24]:
data = np.array([25000000, 35000000, 30000000, 50000000, 35000000])

In [28]:
min = data.min()
max = data.max()

In [29]:
def standardize(data):
    return (data - min )/ (max - min)

In [30]:
standardize(data)

array([0. , 0.4, 0.2, 1. , 0.4])

## 13. One-hot Encoding (pandas 이용)

In [31]:
import pandas as pd

TITANIC_FILE_PATH = 'data/titanic.csv'

In [32]:
titanic_df = pd.read_csv(TITANIC_FILE_PATH)
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00000,1,0,A/5 21171,7.25000,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00000,1,0,PC 17599,71.28330,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00000,0,0,STON/O2. 3101282,7.92500,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00000,1,0,113803,53.10000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00000,0,0,373450,8.05000,NaN,S

In [34]:
titanic_sex_embarked = titanic_df[['Sex', 'Embarked']]

In [35]:
titanic_sex_embarked.head()

      Sex Embarked
0    male        S
1  female        C
2  female        S
3  female        S
4    male        S

In [36]:
one_hot_encoded_df = pd.get_dummies(titanic_sex_embarked)

In [37]:
one_hot_encoded_df.head()

   Sex_female  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0           0         1           0           0           1
1           1         0           1           0           0
2           1         0           0           0           1
3           1         0           0           0           1
4           0         1           0           0           1

In [39]:
one_hot_encoded_df = pd.get_dummies(data=titanic_df, columns=['Sex', 'Embarked'])  # 원하는 열만 지정하여 one-hot-Encoding
one_hot_encoded_df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.00000,1,0,A/5 21171,7.25000,NaN,0,1,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.00000,1,0,PC 17599,71.28330,C85,1,0,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",26.00000,0,0,STON/O2. 3101282,7.92500,NaN,1,0,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.00000,1,0,113803,53.10000,C123,1,0,0,0,1
4,5,0,3,"Allen, Mr. William Henry",35.00000,0,0,373450,8.05000,NaN,0,1,0,0,1

## 05. scikit-learn으로 과적합(overfitting) 문제 직접 보기

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

from math import sqrt

import numpy as np
import pandas as pd

In [4]:
ADMISSION_FILE_PATH = 'data/admission_data.csv'
admission_df = pd.read_csv(ADMISSION_FILE_PATH).drop('Serial No.', axis=1)

In [5]:
admission_df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [8]:
X = admission_df.drop(['Chance of Admit '], axis=1)

polynomial_transformer = PolynomialFeatures(6) # 차원 변형기 정의 (6차항의 다항 회귀 모델 생성)
polynomial_features = polynomial_transformer.fit_transform(X.values)
features = polynomial_transformer.get_feature_names(X.columns)

X = pd.DataFrame(polynomial_features, columns=features)
X

,1,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,GRE Score^2,GRE Score TOEFL Score,...,LOR CGPA^2 Research^3,LOR CGPA Research^4,LOR Research^5,CGPA^6,CGPA^5 Research,CGPA^4 Research^2,CGPA^3 Research^3,CGPA^2 Research^4,CGPA Research^5,Research^6
0,1.0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,113569.0,39766.0,...,419.05125,43.425,4.5,807539.696082,83682.870060,8671.800006,898.632125,93.1225,9.65,1.0
1,1.0,324.0,107.0,4.0,4.0,4.5,8.87,1.0,104976.0,34668.0,...,354.04605,39.915,4.5,487014.306256,54905.784245,6190.054594,697.864103,78.6769,8.87,1.0
2,1.0,316.0,104.0,3.0,3.0,3.5,8.00,1.0,99856.0,32864.0,...,224.00000,28.000,3.5,262144.000000,32768.000000,4096.000000,512.000000,64.0000,8.00,1.0
3,1.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,103684.0,35420.0,...,187.92225,21.675,2.5,424731.610940,48988.651781,5650.363527,651.714363,75.1689,8.67,1.0
4,1.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,98596.0,32342.0,...,0.00000,0.000,0.0,306237.903347,0.000000,0.000000,0.000000,0.0000,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1.0,332.0,108.0,5.0,4.5,4.0,9.02,1.0,110224.0,35856.0,...,325.44160,36.080,4.0,538566.362835,59708.022487,6619.514688,733.870808,81.3604,9.02,1.0
496,1.0,337.0,117.0,5.0,5.0,5.0,9.87,1.0,113569.0,39429.0,...,487.08450,49.350,5.0,924491.486192,93666.817243,9490.052406,961.504803,97.4169,9.87,1.0
497,1.0,330.0,120.0,5.0,4.5,5.0,9.56,1.0,108900.0,39600.0,...,456.96800,47.800,5.0,763391.559199,79852.673556,8352.790121,873.722816,91.3936,9.56,1.0
498,1.0,312.0,103.0,4.0,4.0,5.0,8.43,0.0,97344.0,32136.0,...,0.00000,0.000,0.0,358893.380131,0.000000,0.000000,0.000000,0.0000,0.00,0.0
499,1.0,327.0,113.0,4.0,4.5,4.5,9.04,0.0,106929.0,36951.0,...,0.00000,0.000,0.0,545771.160236,0.000000,0.000000,0.000000,0.0000,0.00,0.0

In [9]:
y = admission_df[['Chance of Admit ']]
y.head()

   Chance of Admit
0              0.92
1              0.76
2              0.72
3              0.80
4              0.65

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)

In [12]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [13]:
y_train_predict = model.predict(X_train)
y_test_predict = model.predict(X_test)

In [15]:
mse = mean_squared_error(y_train, y_train_predict)

print('training set에서의 성능')
print('-----------------------')
print(sqrt(mse))  #0.001504807630434823 (닞은 오차)

mse = mean_squared_error(y_test, y_test_predict)

print('test set에서의 성능')
print('-----------------------')
print(sqrt(mse))  #5.090721963390173 (높은 오차)   ==> 과적합

training set에서의 성능
-----------------------
0.001504807630434823
test set에서의 성능
-----------------------
5.090721963390173

## 10. scikit-learn으로 과적합(overfitting) 문제 해결하기

In [16]:
from sklearn.linear_model import Lasso # Lasso 모델 정의

In [18]:
model = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model.fit(X_train, y_train)

Lasso(alpha=0.001, normalize=True)

In [19]:
y_train_predict = model.predict(X_train)
y_test_predict = model.predict(X_test)

In [20]:
mse = mean_squared_error(y_train, y_train_predict)

print('training set에서의 성능')
print('-----------------------')
print(sqrt(mse))  #0.001504807630434823 (닞은 오차)

mse = mean_squared_error(y_test, y_test_predict)

print('test set에서의 성능')
print('-----------------------')
print(sqrt(mse))  #0.060077190926892544 (test set에서도 낮은 오차를 보임 ==> 과적합 방지)

training set에서의 성능
-----------------------
0.06336620966147143
test set에서의 성능
-----------------------
0.060077190926892544

## 03. scikit-learn으로 k겹 교차 검증 해보기

In [21]:
from sklearn import datasets
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import numpy as np
import pandas as pd

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) # 경고메시지

In [22]:
iris_data = datasets.load_iris() # 붓꽃 데이터 불러오기

In [24]:
X = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
y = pd.DataFrame(iris_data.target, columns=['Class'])

In [25]:
logistic_model = LogisticRegression(max_iter=2000) # 모델 생성

In [28]:
np.average(cross_val_score(logistic_model, X, y.values.ravel(), cv=5)) # k교차 검증(k=5) / 리턴값: 각 데이터셋에 대한 성능 ==> 평균으로 출력

0.9733333333333334

## 07. scikit-learn으로 그리드 서치 해보기

In [29]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV  # 그리디서치
from math import sqrt

import numpy as np
import pandas as pd

In [30]:
# 데이터 준비
ADMISSION_FILE_PATH = 'data/admission_data.csv'
admission_df = pd.read_csv(ADMISSION_FILE_PATH)

X = admission_df.drop('Chance of Admit ', axis=1)

polynomial_transformer = PolynomialFeatures(2) # 2차식 변형기를 정의
polynomial_features = polynomial_transformer.fit_transform(X.values)

features = polynomial_transformer.get_feature_names(X.columns)

X = pd.DataFrame(polynomial_features, columns=features)
y = admission_df[['Chance of Admit ']]

In [31]:
hyper_parameter = {
    'alpha': [0.01, 0.1, 1, 10],
    'max_iter': [100, 500, 1000, 1500, 2000]
}

In [32]:
lasso_model = Lasso()

In [33]:
hyper_parameter_tuner = GridSearchCV(lasso_model, hyper_parameter, cv=5)
hyper_parameter_tuner.fit(X, y)

C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.4253997472132122, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6427237098660836, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.7268361771953716, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6364317724064634, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6963222954602126, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.41804137263725594, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6367536921074394, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.7207154089253444, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6307153394423194, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6917305509775326, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.3813940635033298, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6337331617287238, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.714757237041047, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6272640425010604, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.687728378194112, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.3582355978961803, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.632994514220427, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.7160084566094439, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.628632664707951, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6824704561525898, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.35818142833685196, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.5533129048474442, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.7153730577890133, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6255174062346238, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6673846700425676, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.43607172511186904, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6627303534999366, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.7354661917783785, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6449387332179896, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.7053024607302535, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.15341008856645644, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(

C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.620751291166688, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.5237184980369175, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.44014746799792503, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6479339766744318, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.28148016641330414, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.5805234782469616, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.3755330769451511, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.25482008734164174, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6318652688804425, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.22410745261376566, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.4877331947300487, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.18500142918725948, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.12165472909528074, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.5926116253584112, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.14837409686513636, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.310568196289482, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.06924497432373622, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.03861269270558665, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.5370884100639208, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.20204337169082076, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6261958180810662, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.732301754330797, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.6706071091856818, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.2986990116758905, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.14551702483248768, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.07437015298566085, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.035142407019024824, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.01634703963672568, tolerance: 0.0006706039000000001
  model = cd_fast.enet_coordinate_descent(

C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.16968472293031622, tolerance: 0.0008245817750000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.1873182957089734, tolerance: 0.000859015775
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.0255861895166678, tolerance: 0.0007997224000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.03110460182945407, tolerance: 0.0008114631000000001
  model = cd_fast.enet_coordinate_descent(
C:\Users\LDCC\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.7910950882660408, tolerance: 0.0009940386200000002
  model = cd_fast.enet_coordinate_descent(

GridSearchCV(cv=5, estimator=Lasso(),
             param_grid={'alpha': [0.01, 0.1, 1, 10],
                         'max_iter': [100, 500, 1000, 1500, 2000]})

In [34]:
hyper_parameter_tuner.best_params_

{'alpha': 1, 'max_iter': 100}

In [39]:
def Test(a, b) :
    return (1 - (a/a+b)**2 - (b/a+b)**2)

print(Test(10, 40))

-3616.0

In [40]:
def Geni(class_1, class_2):
    class_1_per = class_1 / (class_1 + class_2)
    class_2_per = class_2 / (class_1 + class_2)

    return 1 - (class_1_per ** 2) - (class_2_per ** 2)
print(Geni(10, 40))
print(Geni(60, 15))

SyntaxError: invalid syntax (<ipython-input-40-fad484c12cdd>, line 6)